body {
    font-family: 'Courier New', Courier, monospace;
    background: lightgrey;
}

.container {
    margin: 15px;
    padding: 5px;
}
header {
    width: 200px;
    height: 80px;
    margin: 10px;
    padding: 5px;
    background: beige;
    border: 3px solid green;
}

.instruction {
    width: 400px;
    height: 300px;
    background: wheat;
    border: 3px solid black;
}

.randomNumb {
    float: left;
    background: lightgreen;
    width: 250px;
    height: 80px;
    padding: 10px;
    margin: 10px;
    border: 3px solid slategray;
}

.win-loss{
    float: left;
    background: lightseagreen;
    width: 150px;
    height: 80px;
    margin: 10px;
    padding: 10px;
    border: 3px solid khaki;
}

.crystal {
    display: inline-block;
    float: left;
    height: 100px;
    width: 100px;
    border: 5px solid red;
    margin: 5px;
}

.clear {
    clear: both;
}

.score-header{
    width: 200px;
    background: lightblue;
    border: 3px solid grey;
    margin: 10px;
}
.your-score {
    height: 100px;
    width: 200px;
    background: honeydew;
    padding: 10px;
    margin: 10px;
    border: 3px solid yellow;
}